:root {
  --color-text: #351503;
  --color-green: #7c897e;
  --color-stone: #d9cdc1;
  --color-stone-dark: #d3c5b6;
  --color-copper: #853508;
  --flow-space: var(--step-2);
  --metric-box-padding: var(--step-4) var(--step-2);
  --metric-max-width: 50rem;

  --fluid-min-width: 320;
  --fluid-max-width: 768;
  --fluid-min-size: 18;
  --fluid-max-size: 22;
  --fluid-min-ratio: 1.25;
  --fluid-max-ratio: 1.25;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
      ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
  );

  --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
  --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));

  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --step-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );

  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --step-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );

  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --step-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );

  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --step-3: calc(
    (
      (var(--fluid-min-size-3) * 1rem) +
        (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)
    )
  );

  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --step-4: calc(
    (
      (var(--fluid-min-size-4) * 1rem) +
        (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)
    )
  );
}

@font-face {
  font-family: 'martelheavy';
  src: url('/fonts/martel-black-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--color-text);
  background: var(--color-stone) url('/images/noise.png');
  font-size: 1.4rem;
  font-family: Georgia, serif;
}

body,
main,
.wrapper {
  display: flex;
  flex-direction: column;
}

main,
.wrapper {
  flex: auto;
}

a {
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 0.15rem;
}

h1,
h2,
h3 {
  font-family: 'martelheavy', Georgia, serif;
  line-height: 1.1;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h1 a,
h3 a {
  color: var(--color-text);
}

h1 a {
  text-decoration: none;
}

h3 a {
  text-decoration-color: var(--color-green);
}

abbr {
  text-decoration: none;
}

article > * {
  max-width: 45ch;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: normal;
}

a {
  color: var(--color-copper);
  word-break: break-word;
}

a:hover {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid;
}

blockquote {
  padding: var(--step-1);
  border-left: 0.25rem solid var(--color-green);
  font-style: italic;
}

footer[role='contentinfo'] {
  max-width: calc(var(--metric-max-width) + 1px);
  border-right: 1px solid;
  padding: var(--step-1) var(--step-2);
}

:focus {
  outline: 1px solid var(--color-copper);
  outline-offset: 0.25rem;
}

.wrapper {
  max-width: var(--metric-max-width);
  outline: 1px solid;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid;
  padding: var(--step-2);
  background: var(--color-stone-dark);
}

.pagination > * {
  display: inline-flex;
  align-items: center;
}

.pagination > [data-direction='backwards'] svg {
  transform: rotate(-180deg);
  transform-origin: center;
}

.pagination > [data-direction='forwards'] {
  margin-left: auto;
}

.feed__item {
  padding: var(--metric-box-padding);
}

.feed__item + .feed__item {
  border-top: 1px solid;
}

.intro {
  padding: var(--metric-box-padding);
  border-bottom: 1px solid;
}

.post {
  padding: var(--metric-box-padding);
  flex: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 48em) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
