{% extends 'layouts/base.njk' %}
{% if pagination.pageNumber > 0 %}
  {% set paginationPrevUrl %}/likes/{{ pagination.pageNumber - 1 }}{% endset %}
{% endif %}

{% if pagination.nextPageHref %}
  {% set paginationNextUrl = pagination.nextPageHref %}
{% endif %}
{% block content %}
<div class="wrapper">
  <article class="[ intro ] [ flow ]">
    <h1><a href="/likes/0">{{ title }}</a></h1>
    {{ content | safe }}
  </article>
  <section>
    <h2 class="visually-hidden">Likes, page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</h2>
    <ul class="feed">
      {% for item in pagination.items %}
        <li class="feed__item">
          <article class="flow">
            <h3>
              <a href="{{ item.url }}" rel="bookmark">{{ item.title }}</a>
            </h3>
            <p>{{ item.publication }}</p>
          </article>
        </li>
      {% endfor %}
    </ul>
    {% if paginationNextUrl or paginationPrevUrl %}
      <footer class="pagination">
        {% if paginationPrevUrl %}
          <a href="{{ paginationPrevUrl }}" data-direction="backwards" class="button">
            {% include "icons/arrow.svg" %}
            <span>{{ paginationPrevText if paginationPrevText else 'Newer posts' }}</span>
          </a>
        {% endif %}
        {% if paginationNextUrl %}
          <a href="{{ paginationNextUrl }}" data-direction="forwards" class="button">
            <span>{{ paginationNextText if paginationNextText else 'Older posts' }}</span>
            {% include "icons/arrow.svg" %}
          </a>
        {% endif %}
      </footer>
    {% endif %}
  </section>
</div>
{% endblock %}

