{% extends 'layouts/base.njk' %}

{% block pageTitle %}{{ title | dateFilter }}{% endblock %}
{% block content %}
<article>
  <h1>
    {{ title | dateFilter }}
  </h1>
  {{ content | safe }}
  <hr />
  <p>
    <a href="/">Back to home</a>
  </p>
</article>
{% endblock %}
