---
permalink: '/feed.xml'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
	<subtitle>My micro blog</subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>{{ site.url }}/</id>
	<author>
  <name>{{ site.authorName }}</name>
  <email>{{ site.authorEmail }}</email>
	</author>
	{% for item in collections.items | reverse | limitFilter(15) %}
  {% set absolutePostUrl %}{{ site.url }}{{ item.url | url }}{% endset %}
  <entry>
    <title>{{ item.data.title | dateFilter }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ item.data.title | w3DateFilter }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[
      {{ item.templateContent | safe }}
      <img width="1" height="1" alt="" src="https://hankchizljaw.imgix.net/1636ADD7-FBE0-402B-A763-7EE18CAC054D.gif" />
    ]]></content>
  </entry>
	{% endfor %}
</feed>
